body {
    font-family: Lato;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80px 1fr;
    grid-template-areas: "top top" "menu main";
}

.top {
    grid-area: top;
    background-color: #ee1515;
    border-bottom: 5px solid #222224;
}

.top h1{
    color: #fff;
    padding-left: 20px
}

.menu {
    grid-area: menu;
}

.menu ul {
    padding: 0;
    margin: 10px;
    background-color: #fff;
    padding: 10px;
    border-radius: 3px
}

.menu li {
    list-style: none;
    margin-bottom: 10px;
    padding: 5px;
    border-bottom: 1px dotted #7f8c8d;
}

.menu li:last-of-type {
    border-bottom: 0;
    margin-bottom: 0;
}

.main {
    grid-area: main;
    margin: 10px;
    margin-left: 0;
    background-color: #fff;
    padding: 10px;
    border-radius: 5px
}

.main span {
    margin: 0;
    margin-right: 10px;
}

.main table {
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: .5em;
    box-sizing: content-box;
}

.main th, .main td {
    padding: .5em;
}

.main th {
    background-color: #2c3e50;
    color: #fff;
}

.main tr:nth-child(even) {
    background-color: #b2bec3;
}

.main tr:nth-child(odd) {
    background-color: #dfe6e9;
}

.main .cross td {
	width: 15em;
    text-align: center;
    padding: 0.25em;
    cursor: pointer;
}

/* -- */

.main span.block {
    display: inline-block;
    width: 1em;
    height: 1em;
}

.main .cross tr:first-of-type td, .main .cross td:first-of-type {
    background-color: #2c3e50;
    color: #fff;
    cursor: default;
}

.main .cross .same {
	background: #fff;
}

.nofriendship {
	background: #dcdde1;
}

.good {
	background: #e84118;
}

.great {
	background: #fbc531;
}

.ultra {
	background: #4cd137;
}

.best {
	background: #00a8ff;
}

.daily {
	background: #8c7ae6;
}

/* -- */

.message {
    color: #fff;
    font-size: 1em;
    padding: .7em;
    border-radius: .5em;
    margin-top: 10px;
  }

  .warning {
    border: 1px solid #f39c12;
    background-color: #f1c40f;
  }

  .warning:before {
    content: "️⚠️ ";
  }

  .success {
    border: 1px solid #27ae60;
    background-color: #2ecc71;
  }

  .success:before {
    content: "️✔️ ";
  }

  .error {
    border: 1px solid #c0392b;
    background-color: #e74c3c;
  }

  .error:before {
    content: "️❌ ";
  }

  .note {
    border: 1px solid #2980b9;
    background-color: #3498db;
  }

  .note:before {
    content: "️📝 ";
  }
