<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - New Friendship</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='friendship.js') }}"></script>
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - New Friendship</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
		{% with messages = get_flashed_messages(with_categories=true) %}
			{% for category, message in messages %}
		<p class="message {{ category }}">{{ message }}</p>
			{% endfor %}
		{% endwith %}
		</div>

		<h2>New Friendship</h2>
		<form action="/friendship/add">
			<p>Trainer 1: <select name="trainer1">{% if trainers|length %}{% for trainer in trainers %}<option value="{{ trainer.trainer_id }}">{{ trainer.trainer_nick }}</option>{% endfor %}{% else %}<option disabled selected>No trainer</option>{% endif %}</select></p>
			<p>Trainer 1: <select name="trainer2">{% if trainers|length %}{% for trainer in trainers %}<option value="{{ trainer.trainer_id }}">{{ trainer.trainer_nick }}</option>{% endfor %}{% else %}<option disabled selected>No trainer</option>{% endif %}</select></p>
			<p>Days to Ultra Friends: <select name="days">{% for i in range(0, 90)|reverse %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></p>
			<p>Luck Friends? <input type="checkbox" name="luck" disabled></p>
			<button>Add Friendship</button>
		</form>

		<hr>

		<h2>Friendship list</h2>

		{% if friendships|length %}
		<table>
			<tr>
				<th>Trainer 1</th>
				<th>Trainer 2</th>
				<th></th>
			</tr>
			{% for friendship in friendships %}
			<tr>
				<td>{{ friendship.trainer1_nick }}</td>
				<td>{{ friendship.trainer2_nick }}</td>
				<td><a href="/friendship/edit/{{ friendship.friendship_id }}">✏️</a> <a href="/friendship/remove/{{ friendship.friendship_id }}">🗑️</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Empty!</p>
		{% endif %}
	</div>
</div>
</html>