<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - Edit Friendship</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='friendship.js') }}"></script>
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - Edit Friendship</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
			<p class="message {{ category }}">{{ message }}</p>
				{% endfor %}
			{% endwith %}
		</div>

		<h2>Edit Friendship</h2>
		<form action="/friendship/edit">
			<input type="hidden" name="id" value="{{ friendship.friendship_id }}">
			<p>Trainer 1: {{ friendship.trainer1_nick }}</p>
			<p>Trainer 2: {{ friendship.trainer2_nick }}</p>
			<p>Days to Ultra Friends: <select name="days">{% for i in range(0, 90)|reverse %}<option value="{{ i }}"{% if friendship.friendship_days == i %} selected{% endif %}>{{ i }}</option>{% endfor %}</select></p>
			<p>Luck Friends? <input type="checkbox" name="luck" disabled{% if friendship.friendship_luck %} checked{% endif %}></p>
			<button>Edit Friendship</button>
		</form>
	</div>
</div>
</html>