<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<p>Select something on the menu</p>
	</div>
</div>
</html>