<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - Tournament Friendships</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='friendship.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"></script>
</head>
<body>
<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - Tournament Friendships</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
			<p class="message {{ category }}">{{ message }}</p>
				{% endfor %}
			{% endwith %}
		</div>

		<h2>New Friendship</h2>
		<form action="/friendship/add">
			<p>Trainer 1: <select name="trainer1">{% if trainers|length %}{% for trainer in trainers %}<option value="{{ trainer.trainer_id }}">{{ trainer.trainer_nick }}</option>{% endfor %}{% else %}<option disabled selected>No trainer</option>{% endif %}</select></p>
			<p>Trainer 1: <select name="trainer2">{% if trainers|length %}{% for trainer in trainers %}<option value="{{ trainer.trainer_id }}">{{ trainer.trainer_nick }}</option>{% endfor %}{% else %}<option disabled selected>No trainer</option>{% endif %}</select></p>
			<p>Days to Ultra Friends: <select name="days">{% for i in range(0, 90)|reverse %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></p>
			<p>Luck Friends? <input type="checkbox" name="luck"></p>
			<button>Add Friendship</button>
		</form>

		<hr>

		<h2>Tournament Friendships - Table</h2>

		<table class="cross">
			<tr>
				<td></td>
				{% for trainer in trainers %}
				<td id="{{ trainer.trainer_id }}">{{ trainer.trainer_nick }}</td>
				{% endfor %}
			</tr>
			{% for trainer1 in trainers %}
			<tr id="{{ trainer1.trainer_id }}">
				<td>{{ trainer1.trainer_nick }}</td>
				{% for trainer2 in trainers %}
					{% if trainer1.trainer_id == trainer2.trainer_id %}
				<td class='same'></td>
					{% else %}
					{% set friendship = trainer1.friendships[trainer2.trainer_id] %}
				<td class='{{ friendship.friendship_level }}' id="{{ friendship.friendship_id }}">{{ friendship.friendship_note }}</td>
					{% endif %}
				{% endfor %}
			</tr>
			{% endfor %}
		</table>

		<p>Legend</p>
		<ul>
			<li><span class="block good"> </span> Good friends.</li>
			<li><span class="block great"> </span> Great friends.</li>
			<li><span class="block ultra"> </span> Ultra friends.</li>
			<li><span class="block best"> </span> Best friends.</li>
			<li><span class="block daily"> </span> Daily interaction.</li>
			<li>🥚 means trainer wants to use a luck egg.</li>
			<li>🌟 means trainers have a luck friendship.</li>
			<li>Each ⚠️ means 5 days of no interaction.</li>
		</ul>

		<hr>

		<h2>Tournament Friendships - Codes</h2>

		{% if trainers|length %}
		<table>
			<tr>
				<th>Nick</th>
				<th>Code</th>
			</tr>
			{% for trainer in trainers %}
			<tr>
				<td>{{ trainer.trainer_nick }}</td>
				<td>{{ trainer.trainer_code[:4] }} - {{ trainer.trainer_code[4:8] }} - {{ trainer.trainer_code[8:] }}</td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Empty!</p>
		{% endif %}
	</div>
</div>
</html>