<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - New Tournament</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tournaments.js') }}"></script>
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - New Tournament</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
			<p class="message {{ category }}">{{ message }}</p>
				{% endfor %}
			{% endwith %}
		</div>

		<h2>New Tournament</h2>
		<form action="/tournament/add">
			<p>Name: <input type="text" name="name"></p>
			<p>Trainers: {% if trainers|length %}{% for trainer in trainers %}<span><input type="checkbox" name="trainers" value="{{ trainer.trainer_id }}">{{ trainer.trainer_nick }}</span>{%- endfor %}{% else %}No trainer{% endif %}</p>
			<button>Add Tournament</button>
		</form>

		<hr>

		<h2>Tournament list - Open</h2>

		{% if open_tournaments|length %}
		<table>
			<tr>
				<th>Tournament</th>
				<th></th>
				<th></th>
			</tr>
			{% for open_tournament in open_tournaments %}
			<tr>
				<td>{{ open_tournament.tournament_name }}</td>
				<td><a href="/tournament/friendships/{{ open_tournament.tournament_id }}">🤝</a></td>
				<td><a href="/tournament/edit/{{ open_tournament.tournament_id }}">✏️</a> <a href="/tournament/remove/{{ open_tournament.tournament_id }}">🗑️</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Empty!</p>
		{% endif %}

		<hr>

		<h2>Tournament list - Closed</h2>

		{% if closed_tournament|length %}
		<table>
			<tr>
				<th>Tournament</th>
				<th></th>
				<th></th>
			</tr>
			{% for closed_tournament in closed_tournaments %}
			<tr>
				<td>{{ closed_tournament.tournament_name }}</td>
				<td><a href="/tournament/friendships/{{ closed_tournament.tournament_id }}">🤝</a></td>
				<td><a href="/tournament/remove/{{ closed_tournament.tournament_id }}">🗑️</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Empty!</p>
		{% endif %}
	</div>
</div>
</html>