{% macro select(data, name, checked='') %}
<select name="{{ name }}">{% for d in data %}<option value="{{ d.id }}"{% if d.id == checked %} checked="checked"{% endif %}>{{ d.name }}</option>>{% endfor %}</select>
{% endmacro %}

<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - Edit Tournament</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='tournaments.js') }}"></script>
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - Edit Tournament</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
			<p class="message {{ category }}">{{ message }}</p>
				{% endfor %}
			{% endwith %}
		</div>

		<h2>Edit Tournament</h2>
		<form action="/tournament/edit">
			<input type="hidden" name="id" value="{{ tournament.tournament_id }}">
			<p>Name: <input type="text" name="name" value="{{ tournament.tournament_name }}"></p>
			<p>Players:
			{% for trainer in trainers %}
				<span><input type="checkbox" name="trainers" value="{{ trainer.trainer_id }}"{% if trainer.trainer_id in tournament_trainers %} checked{% endif %}>{{ trainer.trainer_nick }}</span>
			{% endfor %}
			</p>
			<p>Close Tournament? <input type="checkbox" name="close"></p>
			<button>Edit Tournament</button>
		</form>
	</div>
</div>
</html>