<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - Trainer Friendships</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='friendship.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='table.js') }}"></script>
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - Trainer Friendships</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
			<p class="message {{ category }}">{{ message }}</p>
				{% endfor %}
			{% endwith %}
		</div>

		<h2>New Friendship</h2>
		<form action="/friendship/add">
			<p>Trainer 1: <input type="hidden" name="trainer1" value="{{ this_trainer.trainer_id }}">{{ this_trainer.trainer_nick }}</p>
			<p>Trainer 2: <select name="trainer2">{% for trainer in trainers %}<option value="{{ trainer.trainer_id }}">{{ trainer.trainer_nick }}</option>{% endfor %}</select></p>
			<p>Days to Ultra Friends: <select name="days">{% for i in range(0, 90)|reverse %}<option value="{{ i }}">{{ i }}</option>{% endfor %}</select></p>
			<p>Luck Friends? <input type="checkbox" name="luck" disabled></p>
			<button>Add Friendship</button>
		</form>

		<hr>

		<table class="cross">
			<tr>
				<td></td>
				<td id="{{ this_trainer.trainer_id }}">{{ this_trainer.trainer_nick }}</td>
			</tr>
			{% for trainer in trainers %}
			<tr id="{{ trainer.trainer_id }}">
				<td>{{ trainer.trainer_nick }}</td>
				{% if trainer.trainer_id == this_trainer.trainer_id %}
				<td class='same'></td>
				{% else %}
				{% set friendship = friendships[trainer.trainer_id] %}
				<td class='{{ friendship.friendship_level }}' id="{{ friendship.friendship_id }}">{{ friendship.friendship_note }}</td>
				{% endif %}
			</tr>
			{% endfor %}
		</table>

		<p>Legend</p>
		<ul>
			<li><span class="block good"> </span> Good friends.</li>
			<li><span class="block great"> </span> Great friends.</li>
			<li><span class="block ultra"> </span> Ultra friends.</li>
			<li><span class="block best"> </span> Best friends.</li>
			<li><span class="block daily"> </span> Daily interaction.</li>
			<li>🥚 means trainer wants to use a luck egg.</li>
			<li>🌟 means trainers have a luck friendship.</li>
			<li>Each ⚠️ means 5 days of no interaction.</li>
		</ul>
	</div>
</div>
</html>