<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - New Trainer</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='trainers.js') }}"></script>
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - New Trainer</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
			<p class="message {{ category }}">{{ message }}</p>
				{% endfor %}
			{% endwith %}
		</div>

		<h2>New Trainer</h2>
		<form action="/trainer/add">
			<p>Nick: <input type="text" name="nick"></p>
			<p>Code: <input type="text" name="code"></p>
			<p>Luck Egg? <input type="checkbox" name="egg" checked></p>
			<button>Add Trainer</button>
		</form>

		<hr>

		<h2>Players list</h2>

		{% if trainers|length %}
		<table>
			<tr>
				<th>Nick</th>
				<th></th>
				<th></th>
			</tr>
			{% for trainer in trainers %}
			<tr>
				<td>{{ trainer.trainer_nick }}</td>
				<td><a href="/trainer/friendships/{{ trainer.trainer_id }}">🤝</a></td>
				<td><a href="/trainer/edit/{{ trainer.trainer_id }}">✏️</a> <a href="/trainer/remove/{{ trainer.trainer_id }}">🗑️</a></td>
			</tr>
			{% endfor %}
		</table>
		{% else %}
		<p>Empty!</p>
		{% endif %}
	</div>
</div>
</html>