<!DOCTYPE html>
<html>
<head>
<title>Pokemon GO Remote Admin - Edit Trainer</title>
<link href="{{ url_for('static', filename='css.css') }}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="{{ url_for('static', filename='jquery-3.4.1.min.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='trainers.js') }}"></script>
</head>
<body>

<div class="container">
	<div class="top">
		<h1>Pokemon GO Remote Admin - Edit Trainer</h1>
	</div>
	<div class="menu">
		<ul>
			<li><a href="/tournaments/">Tournaments</a></li>
			<li><a href="/trainers/">Trainers</a></li>
			<li><a href="/friendships/">Friendships</a></li>
		</ul>
	</div>
	<div class="main">
		<div id="messages">
			{% with messages = get_flashed_messages(with_categories=true) %}
				{% for category, message in messages %}
			<p class="message {{ category }}">{{ message }}</p>
				{% endfor %}
			{% endwith %}
		</div>

		<h2>Edit Trainer</h2>
		<form action="/trainer/edit">
			<input type="hidden" name="id" value="{{ trainer.trainer_id }}">
			<p>Nick: <input type="text" name="nick" value="{{ trainer.trainer_nick }}"></p>
			<p>Code: <input type="text" name="code" value="{{ trainer.trainer_code }}"></p>
			<p>Luck Egg? <input type="checkbox" name="egg" {% if trainer.trainer_egg %} checked{% endif %}></p>
			<button>Edit Trainer</button>
		</form>
	</div>
</div>
</html>